body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    width: 800px;
    margin: auto;
}

.entities{
    display: flex;
    flex-flow: row wrap;
}

.box{
    width: 118px;
    height: 118px;
    margin: 5px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.caracter{
    font-size: 28px;
    font-weight: 300;
    margin: 10px 30px;
}